body {
    background-color: rgba(0, 0, 0, 0.782);
}
button {
    height: 100px;
    width: 100px;
    font-size: large;
    

}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}
