body {
    background-color: rgba(0, 0, 0, 0.782);
    margin: 0;
    display: flex;
    justify-content: center;
}
button {
    height: 75px;
    width: 75px;
    font-size: 50px;
    border-radius: 50%;
    border-color: black;
    background-color:rgba(239, 120, 9, 0.869);
    

}

#keys{
    display: inline-flex;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 50px;
    gap: 10px;
    
}

#Calculator {
    background-color: black;
    width: 400px; /* Adjust the width as needed */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Optional: adds a shadow */
}

input {
    background-color: grey;
    height: 100px;
    width: 100%
    
}